.footerWrapper {
  padding: 100px 0px 100px 0px;
  color: white;
}
.promoBox {
  background-color: #00b181;
  border-radius: 0.5rem;
  padding: 40px 40px 40px 40px;
}
.copyrightBanner {
  background-color: #191a1f;
  padding: 10px 0px 10px 0px;
}
